.slider {
  display: flex;
  padding-top: 3rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem;
  width: 100%;
  align-items: center
}

.center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title{
  font-size: 65px;
}

.sparkle{
  position: absolute;
  animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.half{
  position: absolute;
  top: 30%;
  right: 20%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .container {
    margin: 1rem;
  }

  .title{
    font-size: 28px;
  }
  .sparkle,.half {
    display: none;
  }
}

/* Styles for mobile devices (min-width: 481px) and (max-width: 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .title{
    font-size: 28px;
  }
  .sparkle,.half {
    display: none;
  }
}

/* Styles for tablets (min-width: 768px) and (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .sparkle,.half {
    display: none;
  }}

/* Styles for small laptops and desktops (min-width: 1025px) and (max-width: 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for larger screens */
}
