@import "../../styles/vars";

.button {
  -webkit-user-select: none;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  box-sizing: border-box;
  align-items: center;
  color: white;
  background-color: $red;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  border:none;
  font-weight: bolder;
}

.button:hover,
.button:focus {
  background-color: rgba(236, 64, 74, 0.66);
  color: #ffffff;
}

.small {
  width: 140px;
  height: 50px;
  font-size: 18px;
}

.medium {
  width: 180px;
  height: 50px;
}

