@import "../../styles/vars";


.navigation {
    width: 100%;
    z-index: 40;
    height: 100px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    gap: 2rem;
}

.phone {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 480px) {
    .menu{
        display: none;
    }
    .title{
        font-size: 26px;
    }
    .number{
        font-size: 20px;
    }
}

/* Styles for mobile devices (min-width: 481px) and (max-width: 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .menu{
        display: none;
    }
    .title{
        font-size: 26px;
    }
    .number{
        font-size: 20px;
    }
}
