.container {
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .container {
    width: fit-content;
    align-items: center;
  }
  .emoji {
    height: 20px;
    width: auto;
  }
}
