$white: #ffffff;
$dark-grey: #383838;
$yellow: #f6b518;
$green: #65b136;
$red: #ec404a;
$purple: #787bf7;
$blue: #6db0ff;
$light-blue: #f6faff;


//FONTS
$primary-700-font: "Bahnschrift-SemBdSemCond", "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$primary-600-font: "Bahnschrift-SemiCondensed", "Segoe UI", "Roboto",
"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$primary-400-font: "Bahnschrift-Condensed", "Segoe UI", "Roboto",
"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$content-300-font: "Bahnschrift-Light", "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$content-400-font: "Bahnschrift", "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
