.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 20vh;
  margin: 5rem;
  position: relative;
};

.cards{
  flex: 1;
  position: relative;

}

.text{
  flex: 1;
}

.girl{
  position: absolute;
  object-fit: cover;
  border-radius: 10%;
  z-index: 40;
  height:250px;
  width: 200px;
  border: 7px solid #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  right: 3rem;
  top: 0;
}
.boy{
  position: absolute;
  object-fit: cover;
  border-radius: 10%;
  z-index: 40;
  height:180px;
  width: 150px;
  border: 7px solid #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  right: 10rem;
  top: 70%;
}

@media (max-width: 480px) {
  .container {
    height: 100%;
    margin: 1rem;
    align-items: center
  }
  .boy{
   display: none;
  }
  .girl{
    position: relative;
    height: 150px;
    width: 150px;
  }
}


/* Styles for mobile devices (min-width: 481px) and (max-width: 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    height: 100%;
    margin: 0;
    align-items: center;
    gap: 0;
  }
  .boy{
    display: none;
  }
  .girl{
    position: relative;
    height: 150px;
    width: 150px;
  }}

/* Styles for tablets (min-width: 768px) and (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    height: 100%;
    margin: 0;
    align-items: center;
    gap: 0;
  }
  .boy{
    display: none;
    }
  .girl{
    position: relative;
    height: 200px;
    width: 300px;
  }
}

/* Styles for small laptops and desktops (min-width: 1025px) and (max-width: 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for larger screens */
}




